.recent-added {
    grid-area: recente;
    width: 15rem;
    color: white;
    background-color: black;
    border: 1px solid #b30e12;
}

.recent-added:hover {
    border: 1px solid #f7383b;
    box-shadow: 0 4px 8px 0 #b30e116b, 0 6px 20px 0 #f7383b4f;
}