body {
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --color-primary: #b08215;
    --color-secondary: #b30e12;
    --color-secondary-enhanced: #f7383b;
}

.container-full {
    background-color: black;
}

/* cor botão */

.button {
    color: #b08215;
    border: 1px solid #b08215;
}

.button:hover {
    color: #f1b934;
    border: 1px solid #f1b934;
}

.button:focus {
    outline: 0;
}