body {
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --color-primary: #b08215;
    --color-secondary: #b30e12;
    --color-secondary-enhanced: #f7383b;
}

.container-full {
    background-color: black;
}