.navbar {
    border-bottom: 1px solid #f1b934;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: black;
}

.icon-menu {
    color: #f1b934;
}

/* logo */

.logo {
    width: 150px;
}

.logo img {
    width: 100%;
}

/* cores dropdown */

.dropdown-menu, .dropdown-item {
    color: #b08215;
    background-color: black;
}

.dropdown-item:hover {
    color: white;
    background-color: #f1b934;
}

/* cor botão menu */

.button {
    color: #b08215;
    border: 1px solid #b08215;
}

.button:hover {
    color: #f1b934;
    border: 1px solid #f1b934;
}

.button:focus {
    outline: 0;
}